.user_list {
	display: grid;
	grid-template-columns: 400px 1fr;
}

@media (max-width: 990px) {
	.user_list {
		grid-template-columns: 200px 1fr;
	}
}

@media (max-width: 590px) {
	.user_list {
		grid-template-columns: 1fr;
	}
}

table {
	width: 80%;
	margin: 40px auto 10px auto;
	text-align: right;
	border-collapse: collapse;
	border: 0.3px solid #ffd7d7;
}

tr,
td {
	padding: 8px;
}

th {
	padding: 8px;
	background-color: #ffd7d7;
}

tr {
	border-bottom: 0.3px solid #ffd7d7;
}

.btn_user_list {
	background: #fff;
	padding: 4px 8px;
	margin-right: 5px;
	border-radius: 4px;
	color: #5db900;
	cursor: pointer;
	font-size: 1em;
	border: 1px solid #5db900;
}
.btn_user_list:hover {
	color: #fff;
	background-color: #5db900;
}

.user_list_export {
	margin: 20px;
	color: var(--heading-color);
	border: 1px solid var(--heading-color);
}

.user_list_export:hover {
	color: #fff;
	background-color: var(--heading-color);
}
